body {
  margin: 0

}
* {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: black;
}

.btn {
  display: flex;
  justify-content: center;
  margin: 5vh auto;
  background-color:#007bff;
  color: white;
  border: none;
  border-radius: 1rem;
  font-size: 1.2rem;
  padding: 0.5rem;
  cursor: pointer;
}

.btn:hover {
  background-color: #0069d9;
}